interactions:
- request:
    body: !!python/unicode '{"location": "westus", "tags": {"date": "2019-04-30T07:07:40Z",
      "product": "azurecli", "cause": "automation"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2018-05-01
  response:
    body:
      string: !!python/unicode '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","location":"westus","tags":{"date":"2019-04-30T07:07:40Z","product":"azurecli","cause":"automation"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: !!python/unicode '{"sku": {"tier": "Standard", "name": "Standard_D13_v2"},
      "location": "westus"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Kusto/clusters/test000002?api-version=2019-01-21
  response:
    body:
      string: !!python/unicode '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Kusto/Clusters/test000002","name":"test000002","type":"Microsoft.Kusto/Clusters","etag":"\"\"","location":"West
        US","sku":{"name":"Standard_D13_v2","tier":"Standard"},"properties":{"state":"Creating","uri":null,"dataIngestionUri":null,"trustedExternalTenants":null,"virtualNetworkConfiguration":null,"intelligentAutoscale":null,"provisioningState":"Creating"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Kusto/locations/West
        US/operationResults/b03a368e-cad4-4f50-ba1a-34b6e0c0963d?api-version=2019-01-21
      content-type:
      - application/json; charset=utf-8
      etag:
      - '""'
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Kusto/locations/West%20US/operationResults/b03a368e-cad4-4f50-ba1a-34b6e0c0963d?api-version=2019-01-21
  response:
    body:
      string: !!python/unicode '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Kusto/locations/West
        US/operationresults/b03a368e-cad4-4f50-ba1a-34b6e0c0963d","name":"b03a368e-cad4-4f50-ba1a-34b6e0c0963d","status":"Running","startTime":"2019-04-30T07:08:03.6133869Z","endTime":"2019-04-30T07:08:06.9570905Z","percentComplete":0.5,"properties":{"OperationKind":"ClusterCreateExternal","RootActivityId":"ebcb81d0-aafe-4938-b135-e8ad9ca71ac2","provisioningState":"Running"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '299'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Kusto/clusters/test000002?api-version=2019-01-21
  response:
    body:
      string: !!python/unicode '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Kusto/Clusters/test000002","name":"test000002","type":"Microsoft.Kusto/Clusters","etag":"\"\"","location":"West
        US","sku":{"name":"Standard_D13_v2","tier":"Standard","capacity":2},"tags":{},"properties":{"state":"Running","uri":"https://test000002.westus.kusto.windows.net","dataIngestionUri":"https://ingest-test000002.westus.kusto.windows.net","trustedExternalTenants":[],"virtualNetworkConfiguration":null,"intelligentAutoscale":null,"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '""'
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '299'
    status:
      code: 200
      message: OK
[...]
- request:
    body: !!python/unicode '{"properties": {"hotCachePeriod": "P5D", "softDeletePeriod":
      "P10D"}, "location": "West US"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Kusto/clusters/test000002/databases/testdb000003?api-version=2019-01-21
  response:
    body:
      string: !!python/unicode '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Kusto/Clusters/test000002/Databases/testdb000003","name":"test000002/testdb000003","type":"Microsoft.Kusto/Clusters/Databases","etag":"\"\"","location":"West
        US","properties":{"hotCachePeriod":"P5D","softDeletePeriod":"P10D","provisioningState":"Creating"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Kusto/locations/West
        US/operationResults/ce77ccf5-01b8-4972-8db9-25e15e9b80cf?api-version=2019-01-21
      content-type:
      - application/json; charset=utf-8
      etag:
      - '""'
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Kusto/clusters/test000002/databases/testdb000003?api-version=2019-01-21
  response:
    body:
      string: !!python/unicode '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Kusto/Clusters/test000002/Databases/testdb000003","name":"test000002/testdb000003","type":"Microsoft.Kusto/Clusters/Databases","etag":"\"\"","location":"West
        US","tags":{},"properties":{"softDeletePeriodInDays":10,"softDeletePeriod":"P10D","hotCachePeriodInDays":5,"hotCachePeriod":"P5D","statistics":{"size":0.0},"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '""'
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '299'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Kusto/clusters/test000002/databases/testdb000003/listPrincipals?api-version=2019-01-21
  response:
    body:
      string: !!python/unicode '{"value":[{"name":"Ofer Lipman","role":"Admin","type":"User","fqn":"aaduser=d33e1651-661e-4af4-8018-cfd291c56adf;72f988bf-86f1-41af-91ab-2d7cd011db47","email":"oflipman@microsoft.com","appId":""}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: !!python/unicode '{"value": [{"role": "Admin", "email": "orhasban@microsoft.com",
      "fqn": "aaduser=orhasban@microsoft.com", "name": "Oren Hasbani", "type": "User"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Kusto/clusters/test000002/databases/testdb000003/addPrincipals?api-version=2019-01-21
  response:
    body:
      string: !!python/unicode '{"value":[{"name":"Ofer Lipman","role":"Admin","type":"User","fqn":"aaduser=d33e1651-661e-4af4-8018-cfd291c56adf;72f988bf-86f1-41af-91ab-2d7cd011db47","email":"oflipman@microsoft.com","appId":""},{"name":"Oren
        Hasbani","role":"Admin","type":"User","fqn":"aaduser=383cc63e-e339-4c2a-927d-7f30714baa74;72f988bf-86f1-41af-91ab-2d7cd011db47","email":"orhasban@microsoft.com","appId":""}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: !!python/unicode '{"value": [{"role": "Admin", "email": "orhasban@microsoft.com",
      "fqn": "aaduser=orhasban@microsoft.com", "name": "Oren Hasbani", "type": "User"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Kusto/clusters/test000002/databases/testdb000003/removePrincipals?api-version=2019-01-21
  response:
    body:
      string: !!python/unicode '{"value":[{"name":"Ofer Lipman","role":"Admin","type":"User","fqn":"aaduser=d33e1651-661e-4af4-8018-cfd291c56adf;72f988bf-86f1-41af-91ab-2d7cd011db47","email":"oflipman@microsoft.com","appId":""}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2018-05-01
  response:
    body:
      string: !!python/unicode ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTElURVNUOjJFUkdFRUJWQi1XRVNUVVMiLCJqb2JMb2NhdGlvbiI6Indlc3R1cyJ9?api-version=2018-05-01
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 202
      message: Accepted
version: 1
