interactions:
- request:
    body: !!python/unicode '{"location": "westus", "tags": {"date": "2019-04-30T08:36:40Z",
      "product": "azurecli", "cause": "automation"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2018-05-01
  response:
    body:
      string: !!python/unicode '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","location":"westus","tags":{"date":"2019-04-30T08:36:40Z","product":"azurecli","cause":"automation"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/locations?api-version=2016-06-01
  response:
    body:
      string: !!python/unicode '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/locations/eastasia","name":"eastasia","displayName":"East
        Asia","longitude":"114.188","latitude":"22.267"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/locations/southeastasia","name":"southeastasia","displayName":"Southeast
        Asia","longitude":"103.833","latitude":"1.283"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/locations/centralus","name":"centralus","displayName":"Central
        US","longitude":"-93.6208","latitude":"41.5908"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/locations/eastus","name":"eastus","displayName":"East
        US[...]
- request:
    body: !!python/unicode '{"sku": {"tier": "Standard", "name": "Standard"}, "location":
      "centralus"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.EventHub/namespaces/testehnname000006?api-version=2017-04-01
  response:
    body:
      string: !!python/unicode '{"sku":{"name":"Standard","tier":"Standard","capacity":1},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.EventHub/namespaces/testehnname000006","name":"testehnname000006","type":"Microsoft.EventHub/Namespaces","location":"Central
        US","tags":{},"properties":{"isAutoInflateEnabled":false,"maximumThroughputUnits":0,"kafkaEnabled":false,"provisioningState":"Created","metricId":"11d5f159-a21d-4a6c-8053-c3aae30057cf:testehnname000006","createdAt":"2019-04-30T08:39:58.037Z","updatedAt":"2019-04-30T08:39:58.037Z","serviceBusEndpoint":"https://testehnname000006.servicebus.windows.net:443/","status":"Activating"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      server-sb:
      - Service-Bus-Resource-Provider/CH3
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.EventHub/namespaces/testehnname000006/eventhubs/testehname000007?api-version=2017-04-01
  response:
    body:
      string: !!python/unicode '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.EventHub/namespaces/testehnname000006/eventhubs/testehname000007","name":"testehname000007","type":"Microsoft.EventHub/Namespaces/EventHubs","location":"Central
        US","properties":{"messageRetentionInDays":7,"partitionCount":4,"status":"Active","createdAt":"2019-04-30T08:40:34.31Z","updatedAt":"2019-04-30T08:40:34.65Z","partitionIds":["0","1","2","3"]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      server-sb:
      - Service-Bus-Resource-Provider/CH3
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: !!python/unicode '{"sku": {"tier": "Standard", "name": "Standard_D13_v2"},
      "location": "westus"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Kusto/clusters/test000002?api-version=2019-01-21
  response:
    body:
      string: !!python/unicode '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Kusto/Clusters/test000002","name":"test000002","type":"Microsoft.Kusto/Clusters","etag":"\"\"","location":"West
        US","sku":{"name":"Standard_D13_v2","tier":"Standard"},"properties":{"state":"Creating","uri":null,"dataIngestionUri":null,"trustedExternalTenants":null,"virtualNetworkConfiguration":null,"intelligentAutoscale":null,"provisioningState":"Creating"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Kusto/locations/West
        US/operationResults/5e0c4611-733b-4a52-8abe-33d5d5fa1d0c?api-version=2019-01-21
      content-type:
      - application/json; charset=utf-8
      etag:
      - '""'
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Kusto/locations/West%20US/operationResults/5e0c4611-733b-4a52-8abe-33d5d5fa1d0c?api-version=2019-01-21
  response:
    body:
      string: !!python/unicode '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Kusto/locations/West
        US/operationresults/5e0c4611-733b-4a52-8abe-33d5d5fa1d0c","name":"5e0c4611-733b-4a52-8abe-33d5d5fa1d0c","status":"Running","startTime":"2019-04-30T08:40:42.6557806Z","endTime":"2019-04-30T08:40:49.8146665Z","percentComplete":0.5,"properties":{"OperationKind":"ClusterCreateExternal","RootActivityId":"a492aedc-6d29-4f01-a00e-a792f62f1387","provisioningState":"Running"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '299'
    status:
      code: 200
      message: OK
[...]
- request:
    body: !!python/unicode '{"properties": {"hotCachePeriod": "P5D", "softDeletePeriod":
      "P10D"}, "location": "West US"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Kusto/clusters/test000002/databases/testdb000003?api-version=2019-01-21
  response:
    body:
      string: !!python/unicode '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Kusto/Clusters/test000002/Databases/testdb000003","name":"test000002/testdb000003","type":"Microsoft.Kusto/Clusters/Databases","etag":"\"\"","location":"West
        US","properties":{"hotCachePeriod":"P5D","softDeletePeriod":"P10D","provisioningState":"Creating"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Kusto/locations/West
        US/operationResults/d2e48d1a-a6bd-4c97-ab7c-9b0e3806527d?api-version=2019-01-21
      content-type:
      - application/json; charset=utf-8
      etag:
      - '""'
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Kusto/clusters/test000002/databases/testdb000003?api-version=2019-01-21
  response:
    body:
      string: !!python/unicode '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Kusto/Clusters/test000002/Databases/testdb000003","name":"test000002/testdb000003","type":"Microsoft.Kusto/Clusters/Databases","etag":"\"\"","location":"West
        US","tags":{},"properties":{"softDeletePeriodInDays":10,"softDeletePeriod":"P10D","hotCachePeriodInDays":5,"hotCachePeriod":"P5D","statistics":{"size":0.0},"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '""'
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '299'
    status:
      code: 200
      message: OK
[...]
- request:
    body: !!python/unicode '{"kind": "EventHub", "properties": {"eventHubResourceId":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.EventHub/namespaces/testehnname000006/eventhubs/testehname000007",
      "consumerGroup": "$Default", "dataFormat": "csv"}, "location": "West US"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Kusto/clusters/test000002/databases/testdb000003/dataConnections/testehdc000004?api-version=2019-01-21
  response:
    body:
      string: !!python/unicode '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clites[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Kusto/clusters/test000002/databases/testdb000003/dataConnections/testehdc000004?api-version=2019-01-21
  response:
    body:
      string: !!python/unicode '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Kusto/Clusters/test000002/Databases/testdb000003/DataConnections/testehdc000004","name":"test000002/testdb000003/testehdc000004","type":"Microsoft.Kusto/Clusters/Databases/DataConnections","etag":"\"\"","location":"West
        US","kind":"EventHub","tags":{},"properties":{"eventHubResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.EventHub/namespaces/testehnname000006/eventhubs/testehname000007","consumerGroup":"$Default","tableName":"","mappingRuleName":"","dataFormat":"csv","provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '""'
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '299'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2018-05-01
  response:
    body:
      string: !!python/unicode ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTElURVNUOjJFUkdMN1pFUi1XRVNUVVMiLCJqb2JMb2NhdGlvbiI6Indlc3R1cyJ9?api-version=2018-05-01
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 202
      message: Accepted
version: 1
